# metadata cache for Babashka pods
.babashka/

# Calva VS Code extension
.calva/
# unignore Calva configuration. I keep some REPL snippets there (e.g. Portal)
!calva/config.edn

# static analyzer and linter for Clojure code
.clj-kondo/

# classpath cache
.cpcache/

# environment variables
.envrc

# Language Server Protocol
.lsp/

.nrepl-port

# Portal (REPL)
.portal/

downloads/

old-code/
output/

# GraalVM native image compilation reports
reports/

# compilation targets
target/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
