{:deps {local/deps {:local/root "."}}
 :min-bb-version "1.3.189"
 :paths ["bb" "src" "resources"]
 :pods {com.github.jackdbd/pod-jackdbd-jsoup {:path "./resources/pod/pod-jackdbd-jsoup"}
        ;; com.github.jackdbd/pod-jackdbd-jsoup {:path "./resources/pod/pod-jackdbd-jsoup-0.2.1"}
        ;; com.github.jackdbd/pod-jackdbd-jsoup {:version "0.3.0"}
        }

 :tasks
 {:requires ([babashka.process :refer [process check]]
             [clojure.edn :as edn]
             [clojure.string :as str]
             [fosdem-dl.talks-cli :refer [talks-cli]]
             [fosdem-dl.tracks-cli :refer [tracks-cli]]
             [tasks])

  build:bb-uberjar
  {:doc "Build the uberjar (it must be called with bb foo.jar, not java -jar foo.jar)"
   :task (let [project (-> (edn/read-string (slurp "deps.edn")) :aliases :neil :project)
               name (first (str/split (str (:name project)) (re-pattern "/")))
               jar (format "target/%s-%s-standalone.jar" name (:version project))
               cmd (format "bb uberjar %s --main fosdem-dl.fosdem-dl " jar)]
           (println cmd)
           (shell cmd))}

  build:uber
  {:doc "Build the uberjar"
   :task (clojure "-T:build uber")}

  build:binary
  {:doc "Compile the CLI into a statically-linked binary with GraalVM native-image (Linux only)"
;;    :depends [build:uber]
   :task (shell "script/compile.sh")}

  cp
  {:doc "Print the classpath"
   :task (tasks/print-classpath)}

  clean
  {:doc "Remove compilation artifacts and downloads (in parallel)"
   :task (run '-clean {:parallel true})}

  -clean
  {:depends [clean:artifacts clean:downloads]}

  clean:artifacts
  {:doc "Remove compilation artifacts"
   :task (clojure "-T:build clean")}

  clean:downloads
  {:doc "Remove downloads"
   :task (shell "rm -rf ./downloads")}

  cli
  {:doc "fosdem-dl CLI (e.g. 'bb cli talks -y 2019 -t llvm', 'bb cli tracks -y 2020')"
   :task (let [list *command-line-args*
               cmd (conj list "./src/fosdem_dl/cli.clj")]
           (shell cmd))}

  cli:debug
  {:doc "Launch the CLI with bb --debug -x fosdem-dl.cli/-main"
   ;; The usage of clojure.java.io/resource assumes a classpath, so
   ;; when this is used in your uberscript, you still have to set a
   ;; classpath and bring the resources along.
   ;; https://book.babashka.org/#_classpath
   ;;    cmd (format "bb --debug --classpath src:resources -x fosdem-dl.fosdem-dl/-main")
   ;;    cmd (format "bb --debug --classpath src:resources -x fosdem-dl.fosdem-dl/-main --help")
   :task (let [cmd (into ["bb" "--debug" "-x" "fosdem-dl.cli/-main"] *command-line-args*)]
           (println cmd)
           (shell cmd))}

  dep:upgrade
  {:doc "Upgrade all dependencies"
   :task (shell "neil dep upgrade")}

  dk:build
  {:doc "Build the container image that builds the uberjar and the GraalVM native image"
   :task (let [project (-> (edn/read-string (slurp "deps.edn")) :aliases :neil :project)
               name (first (str/split (str (:name project)) (re-pattern "/")))
               version (:version project)
               options ["--file" "Dockerfile"
                        "--build-arg" (str "APP_NAME=" name)
                        "--build-arg" (str "APP_VERSION=" version)
                        #_"--quiet"
                        "--tag" (str name ":" version)]
               cmd (format "docker build ./ %s" (str/join " " options))]
           (shell cmd))}
  dk:cp
  {:doc "Copy the build artifacts (jar, native image) from the Docker container"
   :depends [dk:build]
   :task (let [project (-> (edn/read-string (slurp "deps.edn")) :aliases :neil :project)
               image-name (first (str/split (str (:name project)) (re-pattern "/")))
               image-tag (:version project)
               image (str image-name ":" image-tag)
               working-dir (-> (process ["pwd"] {:out :string})
                               check :out str/split-lines first)
               container-id (-> (process ["docker" "create" image] {:out :string})
                                check :out str/split-lines first)
               cmd (format "docker cp %s:/app %s/output" container-id working-dir)]
           (println cmd)
           (shell cmd))}

  dk:run
  {:doc "Execute the fosdem-dl CLI in a Docker container"
;;    :depends [dk:cp]
   :task (let [project (-> (edn/read-string (slurp "deps.edn")) :aliases :neil :project)
               image-name (first (str/split (str (:name project)) (re-pattern "/")))
               image-tag (:version project)
               image (str image-name ":" image-tag)
               ;; https://www.graalvm.org/22.0/reference-manual/native-image/MemoryManagement/#printing-garbage-collections
               gc-options "-XX:+PrintGC -XX:+VerboseGC"
               args "--help"
            ;;    args "--year 2020 --track web_performance --format webm"
               cmd (format "docker run -it --rm %s fosdem-dl %s %s" image gc-options args)]
           (println cmd)
           (shell cmd))}

  -graph:gen
  {:task (clojure "-X:hiera" :layout :vertical)}

  -graph:copy
  {:task (shell "cp target/hiera/namespaces.png resources/img")}

  graph
  {:depends [-graph:gen -graph:copy]
   :doc "Generate a graph of dependencies between namespaces and copy the image to resources/img"
   :task (shell "feh resources/img/namespaces.png")}

  pod:download
  {:doc "Download com.github.jackdbd/pod-jackdbd-jsoup"
   :task (shell "./download_pod_jackdbd_jsoup.sh")}

  test
  {:doc "Run all tests"
   :task (shell "bb test_runner.clj")}

  ;; https://github.com/liquidz/babashka-test-action/?tab=readme-ov-file#local-usage
  test:action
  {:doc "Run all tests in a container, using https://github.com/liquidz/babashka-test-action/"
   :task (let [working-dir (-> (process ["pwd"] {:out :string})
                               check :out str/split-lines first)
               cmd (format "docker run --rm -v %s:/tmp -w /tmp uochan/babashka-test 'src' 'test' '_test.clj$'" working-dir)]
           (println cmd)
           (shell cmd))}}}
